.feed-page{
  margin-left: 20px;
  margin-top: 20px;
}

.feed-page > h1 {
  margin-bottom: 20px;
}

.feed-page > p {
  margin-bottom: 80px;
}

.feed-page h2 {
  margin-bottom: 20px;
}



.feed-item {
  display: block;
  padding: 15px;
  border-left: 4px solid lightgray;
  width: 540px;
  margin-left: 40px;
  padding-bottom: 60px;
  padding-top: 30px;
}
.feed-item > ul {
  float: left;
}

.feed-map {
  float: right;
  border: 1px solid lightgray;
}



.feed-item .stats li {
  float: left;
  font-size: 12px;
  margin-right: 10px
}

.feed-item .stats {
  display: block;
  margin-top: 10px;
}

.feed-item .date{
  display: block;
  font-size: 10px;
  position: relative;
  top: -5px;
  left: -15px;
  background-color: #FC4C02;
  color: white;
  padding-left: 5px
}

.feed-item .title{
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
}
