.header-nav {
  display: block;
  padding: 5px;
  margin: 0 auto;
  max-width: 900px;
  min-width: 800px;
}

.navbar {
  display: block;
}


.navbar li {
  display: block;
  float: left;
  vertical-align: -webkit-baseline-middle;
  margin-right: 75px;
  height: 38px;
}

.navbar li:hover {
  border-bottom: 3px solid rgb(252, 76, 2);
}

.navbar li h1 {
  color: rgb(252, 76, 2);
}


.selected-tab {
  border-bottom: 3px solid rgb(252, 76, 2);
}

.navbar img {
  float: right;
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.navbar .button {
  float: right;
  margin-right: 20px;
  height: 20px;
}
