.map {
  display: block;
  width: 100vw;
  height: 95vh;
  position: absolute;
  left: 0;
  z-index: 1;

}

.route-builder {
  display: block;
  height: 100%;
}

.route-builder button {
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: 10px;
  left: 0;
  right: 0;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  z-index: 14;

}

.exercise-selector * {
  display: block;
  position: relative;
  margin: 0 auto;
}

.controls {
  display: block;
  position: absolute;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 13;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin-left: 120px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}
