
.login-form-container  {
  display: block;
  position: relative;
  margin: auto;
  top: 20vw;
  width: 400px;
  height: 500px;
  background-color: rgba(0,0,0,0.3);
  color: white;
  border-radius: 5px;
  border: 5px solid lightgray;
}

.login-form {
  display: block;
  position: relative;
  top: 40px;
  margin: auto;
  width: 300px;
  font-size: 14px;
}

.login-form input, .link {
  display: block;
  border: 1px solid gray;
  border-radius: 3px;
  min-height: 40px;
  width: 100%;
  padding: 0 0 0 5px;
  font-size: inherit;
  margin: 8px 0 0 0 ;
}

.login-form button{
  display: block;
  margin: 10px auto;
  width: 96%
}

.login-form input:not(.button){
  color: black;
}

.login-form .textbox {
  background-color: white;

}




.session-page {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
}

.signup {
  background: asset-url("signup-page.jpg") no-repeat center center fixed;
  background-size: cover;
}

.login {
  background: asset-url("login-page.jpg") no-repeat center center fixed;
  background-size: cover;
}

.signup-title {
  display: block;
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.link {
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.link:hover{
  background-color: #fc4c02;
}

.link span {
  display: block;
  margin-right: auto;
  width: 100px;
  margin-top: 8px;
  margin-left: auto;
  text-align: center;
  vertical-align: middle;
}
